@charset "UTF-8";

html{
  width: 100%;
  font-family: 'Noto Serif JP', serif;
}

body{
  width: 100%;
}

h2{
  margin-top: 3%;
  margin-left: 3%;
}

button{
  margin-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  font-family: 'Noto Serif JP', serif;
}

button:hover{
  color: #fff;
  background: #000;
}

input{
  margin-top: 1%;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
}

.top p{
  margin-top: 1%;
}

.top{
  width:96%;
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 2%;
}

.sentTextShown{
  font-size: 23px;
  text-decoration: underline;
  font-family: 'Noto Serif JP', serif;
}
.sentUrlShown{
  font-size: 23px;
  text-decoration: underline;
  font-family: 'Noto Serif JP', serif;
}

.enterErea{
  width:96%;
  margin-left: 2%;
  margin-right: 2%;
}

.checkUsernamePassword{
  width: 100%;
  margin-top: 10%;
  border: solid;
}

.registrationUsernamePassword{
  width: 100%;
  margin-top: 10%;
  border: solid;
}

.checkUsernamePasswordThe{
  padding: 2%;
}

.registrationUsernamePasswordThe{
  padding: 2%;
}

.registrationUsernamePasswordThe p{
  padding-top: 1%;
}

.answer{
  padding-top: 3%;
}
